.cian-grad {

    @apply absolute -top-32 right-12 z-10 w-[15rem] h-[50rem] rotate-[65deg] rounded-[70rem] opacity-20 bg-cian-grad blur-[75px]
}

.purple-grad {

    @apply absolute -top-[10rem] -right-10 z-10 w-[60rem] h-[80rem] rotate-[65deg] rounded-[70rem] opacity-15 bg-purple-grad blur-[127px]
}

.cian-grad::before, .purple-grad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}