@layer component {
  .card-blue {
    background: rgb(77, 132, 243);
    background: linear-gradient(
      180deg,
      rgb(77, 132, 243) 0%,
      rgb(3, 65, 190) 100%
    );
  }

  .card-purple {
    background: rgb(147, 136, 228);
    background: linear-gradient(
      180deg,
      rgb(147, 136, 228) 0%,
      rgb(81, 69, 174) 100%
    );
  }

  .card-black {
    background: rgb(49, 56, 70);
    background: linear-gradient(180deg, #303745 0%, rgb(6, 8, 11) 100%);
  }

  .card-gray {
    background: rgb(177, 183, 196);
    background: linear-gradient(
      180deg,
      rgb(177, 183, 196) 0%,
      rgb(140, 149, 167) 100%
    );
  }

  /* lightbox card */

  .lightbox-card {
    @apply cursor-pointer base-rounded p-2 md:p-4 w-full max-w-[350px] h-[150px] sm:h-[300px] bg-gradient-to-tr from-blue-light/40 to-black/60 mix-blend-plus-lighter drop-shadow-lg shadow-lg;
  }
  @layer utilities {
    .lightbox-card-img {
      filter: grayscale(60%);
      @apply w-full h-full mx-auto object-cover base-rounded transition-all duration-500 ease-in-out;
    }

    .lightbox-card-img:hover {
      filter: none;
    }
  }

  .large-card,
  .small-card {
    @apply p-5 transition-all duration-500 ease-out base-card-rounded;
  }

  .large-card {
    @apply xl:pt-16 xl:px-16 xl:pb-16 flex flex-col justify-evenly;
  }

  .img-card {
    @apply p-5 transition-all duration-500 ease-out base-card-rounded;
  }

  .card {
    @apply transition-all duration-500 ease-out base-card-rounded;
  }

  .card-blue-opacity {
    background: rgba(77, 132, 243, 0.7);
    background: linear-gradient(
      180deg,
      rgba(77, 132, 243, 0.7) 0%,
      rgba(3, 65, 190, 0.7) 100%
    );
    @apply h-full lg:h-auto;
  }

  .card-purple-opacity {
    background: (147, 136, 228, 0.6);
    background: linear-gradient(
      180deg,
      rgba(147, 136, 228, 0.6) 0%,
      rgba(81, 69, 174, 0.6) 100%
    );
    @apply h-full lg:h-auto;
  }

  .card-black-opacity {
    background: (49, 56, 70, 0.6);
    background: linear-gradient(
      180deg,
      rgba(49, 56, 70, 0.6) 0%,
      rgba(6, 8, 11, 0.6) 100%
    );
    @apply h-full lg:h-auto;
  }

  .card-gray-opacity {
    background: rgba(177, 183, 196, 0.8);
    background: linear-gradient(
      180deg,
      rgba(177, 183, 196, 0.8) 0%,
      rgba(140, 149, 167, 0.8) 100%
    );
    @apply h-full lg:h-auto;
  }
}

@layer utilities {
  .base-card-rounded,
  .base-rounded {
    @apply rounded-tr-2xl rounded-tl-2xl rounded-br-2xl rounded-bl-none;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}

.vel-img-title {
  @apply font-bold text-sm line-clamp-3 whitespace-normal lg:text-xl text-white bottom-44 sm:bottom-12 lg:bottom-[60px] !important;
}

.vel-img {
  @apply base-rounded !important;
}
