.card-blue {
  background: linear-gradient(180deg, #4d84f3 0%, #0341be 100%);
}

.card-purple {
  background: linear-gradient(180deg, #9388e4 0%, #5145ae 100%);
}

.card-black {
  background: linear-gradient(180deg, #313846 0%, #06080b 100%);
}

.card-gray {
  background: linear-gradient(180deg, #b1b7c4 0%, #8c95a7 100%);
}

/* lightbox card */

.lightbox-card {
  border-radius: 1rem 1rem 1rem 0rem;
  background: linear-gradient(180deg, #313846 0%, #06080b 100%);
  @apply cursor-pointer w-full max-w-[400px] h-full;
}

.lightbox-card-img {
  @apply w-full p-10 min-h-[400px] mx-auto object-cover rounded-lg;
}

.large-card,
.small-card {
  @apply p-5 transition-all duration-500 ease-out rounded-tr-2xl rounded-tl-2xl rounded-br-2xl rounded-bl-none;
}

.large-card {
  @apply xl:pt-16 xl:px-16 xl:pb-16;
}
